@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Paytone+One&family=Russo+One&display=swap');

:root {
    --pink: rgb(216, 75, 152);
    --light: #faeefa;
    --light-teal: #a8dadcff;
    --blue: #457b9dff;
    --navy: #1d3557ff;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-width: 800px;
    font-family: "Paytone One", sans-serif;
    font-size: 2.5rem;
    color: var(--navy);
    background-color: var(--light);
    display: grid;
    gap: 50px;
    place-content: center;
    grid-template-areas: ".......... header-menu .........."
                         ".......... turn-info   .........."
                         "player-one board       player-two"
                         ".......... restart     ..........";
}

.header-menu {
    grid-area: header-menu;
    width: 100%;
    display: flex;
    flex-direction: column;
}

h1, .player > input, .turn-info {
    text-align: center;
}

h1 {
    font-size: 5rem;
    line-height: 1;
    filter: drop-shadow(-5px -5px var(--pink));
}

.mode-wrapper {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

button {
    box-shadow: 0 2px 4px rgba(0,0,0, .1);
}

button.mode {
    width: 130px;
    border: none;
    background-color: var(--pink);
    color: var(--light);
    padding: .7rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    line-height: 1.2;
    border-radius: 4px;
}

button.mode:hover {
    cursor: pointer;
    background-color: var(--light-teal);
}

.mode > img {
    height: 24px;
}

.game-board {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    overflow: hidden;
    grid-area: board;
}

.player {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
}

.player-one {
    grid-area: player-one;
}

.player-two {
    grid-area: player-two;
}

.player > input, button {
    font-family: inherit;
    background-color: inherit;
    color: inherit;
}

.player > input {
    max-width: 400px;
    border: none;
    outline: none;
    font-size: 2rem;
    padding: 1rem;
}

.player > input:hover {
    background-color: var(--light-teal);
}

.game-board > * {
    outline: 4px solid var(--light);
    background-color: var(--navy);
    color: var(--light-teal);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
}

.game-board > *:hover {
    background-color: var(--pink);
    cursor: pointer;
}

.inactive {
    pointer-events: none;
}

.restart-button {
    grid-area: restart;
    width: 50%;
    justify-self: center;
    font-size: 2rem;
    border: none;
    grid-area: restart;
    line-height: 1;
    padding: 1rem;
    background-color: var(--navy);
    color: var(--light);
    border-radius: 6px;
}

.restart-button:hover {
    cursor: pointer;
    background-color: var(--pink);
}

.turn-info {
    grid-area: turn-info;
    font-size: 1rem;
}