@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Monoton&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: "Bungee", sans-serif;
    font-size: 2.5rem;
    display: grid;
    place-content: center;
    gap: 50px;
    grid-template-areas: ".......... header ........."
                         "player-one board player-two"
                         ".......... turn-restart ...";

                         
}

h1 {
    font-size: 4rem;
    line-height: 1;
    position: relative;
    top: -100px;
    grid-area: header;
}

.game-board {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    overflow: hidden;
    grid-area: board;
}

.player {
    text-transform: ;
}

.player-one {
    grid-area: player-one;
}

.player-two {
    grid-area: player-two;
}

.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.row > * {
    outline: 4px solid rgb(183, 210, 219);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
}

.inactive {
    pointer-events: none;
}


.turn-and-restart {
    grid-area: turn-restart;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.restart-button {
    /* font-family: "Gloria Hallelujah", sans-serif; */
    font-family: inherit;
    font-size: 2rem;
    border: none;
    grid-area: restart;
    display: block;
}